@import "tailwindcss";

@theme {
  --color-design-grey-700: #333333;
  --color-design-grey-800: #1f1f1f;
  --color-design-grey-900: #141414;
  --color-design-green: #c4f82a;
  --color-design-white: #ffffff;
}

.text-preset1 {
  font-family: var(--font-inter);
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset2 {
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset2-bold {
  @extend .text-preset2;
  font-weight: 700;
}
